In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import openpyxl
from datetime import datetime

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
flist = []
allflist = []
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        #print(os.path.join(dirname, filename))
        try:
            flist.append(int(filename.replace('.xlsx', '')))
        except:
            continue
#print(flist)
# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
df1 = pd.DataFrame([[1, 2, 3],[4, 5, 6], [7, 8, 9]],columns=['A', 'B','C'], index=[1, 2, 3])
df2 = pd.DataFrame([[11, 12, 13],[14, 15, 16], [17, 18, 19]],columns=['A', 'B','C'], index=[1, 2, 3])
df3 = pd.DataFrame([[21, 22, 23],[24, 25, 26], [27, 28, 29]],columns=['A', 'B','C'], index=[1, 2, 3])

lst = [df1, df2, df3]
b = pd.DataFrame()
for a in lst:
    if b.empty:
        b = a
    else:
        b = b.astype(str) + ',' +a.astype(str)
b = b.applymap(lambda x: np.fromstring(x, dtype=int, sep=','))
print(b)

             A            B            C
1  [1, 11, 21]  [2, 12, 22]  [3, 13, 23]
2  [4, 14, 24]  [5, 15, 25]  [6, 16, 26]
3  [7, 17, 27]  [8, 18, 28]  [9, 19, 29]

In [3]:
#1- SP.POP.TOTL			2	pop total
#2- TX.VAL.TECH.CD		2	hi-tech export
#3- SL.TLF.TOTL.IN		2	labor force total
#4- SL.EMP.TOTL.SP.ZS	2	employment ratio to population
#5- BX.GSR.CCIS.CD		2	ict service exp
#6- NE.EXP.GNFS.CD		2	export of goods and services

#a- high-tech global market size = 2 + 5
#b- total export trade size = 6
#c- ratio of high-tech and ict in total trade = a/b
#d- c per country
#e- rca of country = d/c per country
#f- alternative comparative adv. metric = (a per country/(1*4 per country))/(a/1*4) 

f_world_dev_ind = pd.read_excel("/kaggle/input/phdthesisdata/2.xlsx")
f_world_dev_ind

,economy,time,AG.CON.FERT.PT.ZS,AG.CON.FERT.ZS,AG.LND.AGRI.K2,AG.LND.AGRI.ZS,AG.LND.ARBL.HA,AG.LND.ARBL.HA.PC,AG.LND.ARBL.ZS,AG.LND.CREL.HA,...,TX.VAL.TECH.MF.ZS,TX.VAL.TRAN.ZS.WT,TX.VAL.TRVL.ZS.WT,VC.BTL.DETH,VC.IDP.NWCV,VC.IDP.NWDS,VC.IDP.TOCV,VC.IHR.PSRC.FE.P5,VC.IHR.PSRC.MA.P5,VC.IHR.PSRC.P5
0,ABW,YR2010,NaN,NaN,20.0,11.111111,2000.0,0.019932,11.111111,NaN,...,4.130797,3.358641,80.954447,NaN,NaN,NaN,NaN,0.000000,8.253379,3.934491
1,ABW,YR2011,NaN,NaN,20.0,11.111111,2000.0,0.019746,11.111111,NaN,...,4.790988,3.919659,81.241393,NaN,NaN,NaN,NaN,0.000000,4.111166,1.959824
2,ABW,YR2012,NaN,NaN,20.0,11.111111,2000.0,0.019586,11.111111,NaN,...,11.259181,3.452480,80.536482,NaN,NaN,NaN,NaN,1.862371,6.138735,3.899966
3,ABW,YR2013,NaN,NaN,20.0,11.111111,2000.0,0.019440,11.111111,NaN,...,5.140044,3.981985,80.443419,NaN,NaN,NaN,NaN,1.850139,10.180189,5.815926
4,ABW,YR2014,NaN,NaN,20.0,11.111111,2000.0,0.019306,11.111111,NaN,...,7.322688,5.603977,79.544269,NaN,NaN,NaN,NaN,0.000000,4.051207,1.927228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3175,ZWE,YR2017,671.559633,36.6,162000.0,41.876696,4000000.0,0.271166,10.339925,1453383.0,...,2.585869,52.129135,34.770504,NaN,NaN,10000.0,NaN,NaN,NaN,NaN
3176,ZWE,YR2018,623.474178,33.2,162000.0,41.876696,4000000.0,0.265742,10.339925,1430844.0,...,2.063693,47.358736,40.309499,NaN,NaN,1100.0,NaN,NaN,NaN,NaN
3177,ZWE,YR2019,623.474178,33.2,162000.0,41.876696,4000000.0,0.260508,10.339925,567142.0,...,4.949714,33.427714,50.326041,NaN,NaN,52000.0,NaN,NaN,NaN,NaN
3178,ZWE,YR2020,623.474178,33.2,162000.0,41.876696,4000000.0,0.255270,10.339925,1486227.0,...,2.383868,55.668861,19.982796,NaN,NaN,380.0,NaN,NaN,NaN,NaN
3179,ZWE,YR2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2400.0,NaN,NaN,NaN,NaN

In [4]:
f_world_dev_ind['Year'] = f_world_dev_ind['time'].apply(lambda x: x.replace('YR', '') if isinstance(x, str) else x)
f_world_dev_ind['Year'] = f_world_dev_ind['Year'].astype(int)
f_world_dev_ind
wdi_country_list = f_world_dev_ind[['economy']].drop_duplicates()
wdi_country_list
wdi_year_list = f_world_dev_ind['Year'].drop_duplicates().values
wdi_year_list

wdi_cols = ['Year', 'economy','SP.POP.TOTL', 'TX.VAL.TECH.CD', 'SL.TLF.TOTL.IN', 
            'SL.EMP.TOTL.SP.ZS', 'BX.GSR.CCIS.CD', 'NE.EXP.GNFS.CD', 'BX.GSR.NFSV.CD', 'BX.GSR.MRCH.CD']
wdi_resume = f_world_dev_ind[wdi_cols].rename(columns={'economy': 'Country'}).replace(np.nan,0).replace('',0)
wdi_resume.loc[:,'Year_Country'] = np.nan
wdi_resume.loc[:,'Year_Country'] = wdi_resume['Year'].astype(str)+'_'+wdi_resume['Country']
wdi_resume.set_index('Year_Country', inplace=True)
wdi_resume

,Year,Country,SP.POP.TOTL,TX.VAL.TECH.CD,SL.TLF.TOTL.IN,SL.EMP.TOTL.SP.ZS,BX.GSR.CCIS.CD,NE.EXP.GNFS.CD,BX.GSR.NFSV.CD,BX.GSR.MRCH.CD
Year_Country,,,,,,,,,,
2010_ABW,2010,ABW,100341,703388.0,0.0,0.000000,2.223464e+07,1.477654e+09,1.560112e+09,2.645251e+08
2011_ABW,2011,ABW,101288,1269221.0,0.0,0.000000,2.474860e+07,1.839665e+09,1.680950e+09,5.180168e+09
2012_ABW,2012,ABW,102112,3656986.0,0.0,0.000000,2.223464e+07,1.911732e+09,1.762123e+09,1.388883e+09
2013_ABW,2013,ABW,102880,1702027.0,0.0,0.000000,2.803385e+07,2.088268e+09,1.883048e+09,2.789887e+08
2014_ABW,2014,ABW,103594,2236381.0,0.0,0.000000,2.503977e+07,2.184358e+09,2.040683e+09,2.589454e+08
...,...,...,...,...,...,...,...,...,...,...
2017_ZWE,2017,ZWE,14751101,11180300.0,7214627.0,80.501999,1.385228e+07,3.456997e+09,4.766193e+08,4.163597e+09
2018_ZWE,2018,ZWE,15052184,9709358.0,7403981.0,80.461998,9.480000e+06,8.936585e+09,5.005214e+08,4.677645e+09
2019_ZWE,2019,ZWE,15354608,27782789.0,7591946.0,80.391998,2.945589e+07,5.930390e+09,6.032483e+08,4.663689e+09
2020_ZWE,2020,ZWE,15669666,8275260.0,7693983.0,78.977997,4.571942e+07,5.574672e+09,3.314364e+08,4.931859e+09
2021_ZWE,2021,ZWE,15993524,0.0,7915768.0,79.403999,0.000000e+00,7.209542e+09,0.000000e+00,0.000000e+00

In [5]:
f_un_wesp_class = pd.read_excel("/kaggle/input/phdthesisdata/un_wesp_classification.xlsx", sheet_name="Clasif")
f_un_wesp_class
wesp_class = pd.melt(f_un_wesp_class, id_vars=['Year','Category'],
            var_name="Country", value_name='Value')
wesp_class = wesp_class[wesp_class['Value']==1].drop(columns=['Value'])
wesp_class['Year'] = wesp_class['Year']-1
wesp_class.loc[:,'Year_Country'] = np.nan
wesp_class.loc[:,'Year_Country'] = wesp_class['Year'].astype(str)+'_'+wesp_class['Country']
wesp_class.set_index('Year_Country', inplace=True)
wesp_class

              Year         Category Country
Year_Country
2010_AFG      2010  Least Developed     AFG
2011_AFG      2011  Least Developed     AFG
2012_AFG      2012  Least Developed     AFG
2013_AFG      2013  Least Developed     AFG
2014_AFG      2014  Least Developed     AFG
...            ...              ...     ...
2017_ZWE      2017       Developing     ZWE
2018_ZWE      2018       Developing     ZWE
2019_ZWE      2019       Developing     ZWE
2020_ZWE      2020       Developing     ZWE
2021_ZWE      2021       Developing     ZWE

[2943 rows x 3 columns]

In [6]:
wesp_country_list = pd.DataFrame(columns=['country'], data=f_un_wesp_class.columns.values.tolist()[2:])
wesp_country_list
wesp_year_list = wesp_class['Year'].drop_duplicates().values
wesp_year_list

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
       2021])

In [7]:
f_sdg = pd.read_excel("/kaggle/input/phdthesisdata/SDR-2022-database.xlsx", sheet_name="Backdated SDG Index")
f_sdg

,Country Code ISO3,Country,Year,Population,Region,Income Group,SDG Index Score,Goal 1 Score,Goal 2 Score,Goal 3 Score,...,n_sdg16_cpi,n_sdg16_clabor,n_sdg16_weaponsexp,n_sdg16_rsf,n_sdg16_justice,n_sdg17_govex,n_sdg17_oda,n_sdg17_govrev,n_sdg17_cohaven,n_sdg17_statperf
0,AFG,Afghanistan,2000,20779957.0,E_Euro_Asia,LIC,44.819087,91.417142,33.883143,20.329857,...,0.000,45.573,100.0,61.329,42.308,26.327,NaN,0.00,100.0,16.297
1,AFG,Afghanistan,2001,21606992.0,E_Euro_Asia,LIC,45.109257,91.417142,36.932429,20.445929,...,0.000,45.573,100.0,61.329,42.308,26.327,NaN,0.00,100.0,16.297
2,AFG,Afghanistan,2002,22600774.0,E_Euro_Asia,LIC,45.032270,91.417142,35.922000,20.720143,...,0.000,45.573,100.0,61.329,42.308,26.327,NaN,0.00,100.0,16.297
3,AFG,Afghanistan,2003,23680871.0,E_Euro_Asia,LIC,45.275423,91.417142,37.142571,20.932000,...,0.000,45.573,100.0,61.329,42.308,26.327,NaN,0.00,100.0,16.297
4,AFG,Afghanistan,2004,24726689.0,E_Euro_Asia,LIC,45.530799,91.417142,37.827429,21.980500,...,0.000,45.573,100.0,61.329,42.308,26.327,NaN,0.00,100.0,16.297
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3889,ZWE,Zimbabwe,2017,14236599.0,Africa,LMIC,57.460809,28.659691,46.382167,38.852786,...,11.905,29.008,100.0,55.086,44.308,47.833,NaN,24.35,100.0,33.781
3890,ZWE,Zimbabwe,2018,14438812.0,Africa,LMIC,57.411781,28.659691,46.276833,39.981571,...,11.905,29.008,100.0,56.386,49.231,42.467,NaN,17.68,100.0,46.013
3891,ZWE,Zimbabwe,2019,14645473.0,Africa,LMIC,56.070614,28.659691,47.881000,40.707000,...,14.550,29.008,100.0,53.957,46.769,32.973,NaN,17.68,100.0,48.871
3892,ZWE,Zimbabwe,2020,14862927.0,Africa,LMIC,56.445451,28.659691,47.881000,41.399214,...,14.550,29.008,100.0,55.786,51.385,32.973,NaN,17.68,100.0,48.871
3893,ZWE,Zimbabwe,2021,15092171.0,Africa,LMIC,56.466922,28.659691,47.881000,41.399214,...,13.228,29.008,100.0,52.686,51.385,32.973,NaN,17.68,100.0,48.871

In [8]:
#f_sdg['Development Level'] = np.nan
#for a in f_sdg.iterrows():
#    a['Development Level'] = f_un_wesp_class[]

sdg_country_list = f_sdg[['Country Code ISO3', 'Country']].drop_duplicates()
#sdg_country_list
sdg_year_list = f_sdg['Year'].drop_duplicates().values
#sdg_year_list

sdg_cols = ['Country Code ISO3','Year','Population','Region','Income Group','SDG Index Score','Goal 1 Score','Goal 2 Score','Goal 3 Score','Goal 4 Score','Goal 5 Score','Goal 6 Score','Goal 7 Score','Goal 8 Score','Goal 9 Score','Goal 10 Score','Goal 11 Score','Goal 12 Score','Goal 13 Score','Goal 14 Score','Goal 15 Score','Goal 16 Score','Goal 17 Score']
sdg_resume = f_sdg[sdg_cols].rename(columns={'Country Code ISO3': 'Country'})
#print(sdg_resume)
sdg_resume.loc[:,'Year_Country'] = np.nan
sdg_resume.loc[:,'Year_Country'] = sdg_resume['Year'].astype(str)+'_'+sdg_resume['Country']
sdg_resume.set_index('Year_Country', inplace=True)
sdg_resume.rename(columns={'Goal 1 Score':'SDG1: No Poverty','Goal 2 Score':'SDG2: No Hunger',
                           'Goal 3 Score':'SDG3: Good Health and Well-Being','Goal 4 Score':'SDG4: Quality Education',
                           'Goal 5 Score':'SDG5: Gender Equality','Goal 6 Score':'SDG6: Clean Water and Sanitation',
                           'Goal 7 Score':'SDG7: Affordable and Clean Energy',
                           'Goal 8 Score':'SDG8: Decent Work and Economic Growth',
                           'Goal 9 Score':'SDG9: Industry, Innovation and Infrastructure',
                           'Goal 10 Score':'SDG10: Reduced Inequalities',
                           'Goal 11 Score':'SDG11: Sustainable Cities and Communities',
                           'Goal 12 Score':'SDG12: Responsible Consumption and Production',
                           'Goal 13 Score':'SDG13: Climate Action','Goal 14 Score':'SDG14: Life Below Water',
                           'Goal 15 Score':'SDG15: Life on Land',
                           'Goal 16 Score':'SDG16: Peace, Justice and Strong Institutions',
                           'Goal 17 Score':'SDG17: Partnerships for the Goals'}, inplace=True)

In [9]:
#columns 
#'1_Business sophistication',1_Creative outputs'
#'1_Human capital and research','1_Infrastructure','1_Institutions'
#'1_Knowledge and technology outputs','1_Market sophistication'
#'0_Global Innovation Index','0_Global Innovation Index ' (merge both)

if 1 == 0 : 
    gii_files=[]

    for dirname, _, filenames in os.walk('/kaggle/input/phdthesisdata'):
        for filename in filenames:
            #print(filename)
            if filename.startswith("Analysis_") and filename.endswith(".xlsx"):
                #print(os.path.join(dirname, filename))
                gii_files.append(os.path.join(dirname, filename))
    #print(gii_files) 

    gii = pd.DataFrame()

    for gf in gii_files:
        gii_file = pd.read_excel(gf)
        gii = pd.concat([gii,pd.melt(gii_file, id_vars=['Year','Indicator', 'Ind_Level'],
                #value_vars=gii_file.columns.tolist()[3:],
            var_name="Country", value_name='Value')])
    gii['ix_ind'] = gii['Ind_Level'].astype(str) + '_' + gii['Indicator']
    pvt_gii = pd.pivot_table(gii, values='Value', index=['Year', 'Country'],
                        columns=['ix_ind'], aggfunc=np.sum)
    pvt_gii = pvt_gii.replace(0, np.NaN)
    pvt_gii = pvt_gii.applymap(lambda x: x.replace('[', '').replace(']', '') if isinstance(x, str) else x)
    #for c in pvt_gii.columns:

        #pvt_gii[pvt_gii][c] = pvt_gii[c].str.replace("\[","",regex=True)
    #pvt_gii = pvt_gii.replace("\]","",regex=True)
    #pvt_gii = pvt_gii.replace('',-1,regex=True)

    #pvt_gii = pvt_gii.astype(int)
    pvt_gii.unstack().to_excel('gii_merged.xlsx')
    pvt_gii
else:
    gii = pd.read_excel("/kaggle/input/phdthesisdata/gii_merged.xlsx")
    gii = gii[:-1].replace(np.nan,0)
    
    #print(gii)
    gii['Global Innovation Index'] = gii['0_Global Innovation Index'] + gii ['0_Global Innovation Index ']
    gii_cols = ['Year', 'Country','Global Innovation Index','1_Business sophistication','1_Creative outputs',
                '1_Human capital and research','1_Infrastructure','1_Institutions',
                '1_Knowledge and technology outputs','1_Market sophistication']
    gii_resume = gii[gii_cols]
gii_resume

,Year,Country,Global Innovation Index,1_Business sophistication,1_Creative outputs,1_Human capital and research,1_Infrastructure,1_Institutions,1_Knowledge and technology outputs,1_Market sophistication
0,2013,AGO,135.0,141.0,137.0,126.0,129.0,136.0,62.0,121.0
1,2013,ALB,93.0,128.0,121.0,84.0,75.0,73.0,108.0,32.0
2,2013,ARE,38.0,22.0,28.0,24.0,22.0,33.0,131.0,63.0
3,2013,ARG,56.0,55.0,29.0,51.0,63.0,106.0,74.0,120.0
4,2013,ARM,59.0,84.0,53.0,71.0,97.0,57.0,58.0,48.0
...,...,...,...,...,...,...,...,...,...,...
1614,2022,VNM,48.0,50.0,35.0,80.0,71.0,51.0,52.0,43.0
1615,2022,YEM,128.0,127.0,95.0,124.0,120.0,132.0,124.0,87.0
1616,2022,ZAF,61.0,63.0,64.0,81.0,77.0,81.0,56.0,39.0
1617,2022,ZMB,118.0,100.0,110.0,118.0,116.0,126.0,116.0,106.0
1618,2022,ZWE,107.0,90.0,89.0,92.0,126.0,128.0,99.0,114.0

In [10]:
gii_country_list = gii_resume[['Country']].drop_duplicates()
#gii_country_list
gii_year_list = gii_resume['Year'].drop_duplicates().values
#gii_year_list
#gii_resume.loc[:,'Year_Country'] = np.nan
gii_resume.loc[:,'Year_Country'] = gii_resume['Year'].astype(str)+'_'+gii_resume['Country']
gii_resume.set_index('Year_Country', inplace=True)
print(gii_resume)

              Year Country  Global Innovation Index  \
Year_Country
2013_AGO      2013     AGO                    135.0
2013_ALB      2013     ALB                     93.0
2013_ARE      2013     ARE                     38.0
2013_ARG      2013     ARG                     56.0
2013_ARM      2013     ARM                     59.0
...            ...     ...                      ...
2022_VNM      2022     VNM                     48.0
2022_YEM      2022     YEM                    128.0
2022_ZAF      2022     ZAF                     61.0
2022_ZMB      2022     ZMB                    118.0
2022_ZWE      2022     ZWE                    107.0

              1_Business sophistication  1_Creative outputs  \
Year_Country
2013_AGO                          141.0               137.0
2013_ALB                          128.0               121.0
2013_ARE                           22.0                28.0
2013_ARG                           55.0                29.0
2013_ARM                           84.0                53.0
...                                 ...                 ...
2022_VNM                           50.0                35.0
2022_YEM                          127.0                95.0
2022_ZAF                           63.0                64.0
2022_ZMB                          100.0               110.0
2022_ZWE                           90.0                89.0

              1_Human capital and research  1_Infrastructure  1_Institutions  \
Year_Country
2013_AGO                             126.0             129.0           136.0
2013_ALB                              84.0              75.0            73.0
2013_ARE                              24.0              22.0            33.0
2013_ARG                              51.0              63.0           106.0
2013_ARM                              71.0              97.0            57.0
...                                    ...               ...             ...
2022_VNM                              80.0              71.0            51.0
2022_YEM                             124.0             120.0           132.0
2022_ZAF                              81.0              77.0            81.0
2022_ZMB                             118.0             116.0           126.0
2022_ZWE                              92.0             126.0           128.0

              1_Knowledge and technology outputs  1_Market sophistication
Year_Country
2013_AGO                                    62.0                    121.0
2013_ALB                                   108.0                     32.0
2013_ARE                                   131.0                     63.0
2013_ARG                                    74.0                    120.0
2013_ARM                                    58.0                     48.0
...                                          ...                      ...
2022_VNM                                    52.0                     43.0
2022_YEM                                   124.0                     87.0
2022_ZAF                                    56.0                     39.0
2022_ZMB                                   116.0                    106.0
2022_ZWE                                    99.0                    114.0

[1619 rows x 10 columns]

/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

In [11]:
gii_cls = set(gii_country_list['Country'].values.tolist())
sdg_cls = set(sdg_country_list['Country Code ISO3'].values.tolist())
wesp_cls = set(wesp_country_list['country'].values.tolist())
wdi_cls = set(wdi_country_list['economy'].values.tolist())

country_list = list(gii_cls & sdg_cls & wesp_cls & wdi_cls)
country_list = np.array(country_list)

print(len(country_list), " countries are available")

#print(gii_year_list.shape,type(gii_year_list))
#print(sdg_year_list.shape,type(sdg_year_list))
#print(wdi_year_list.shape,type(wdi_year_list))
#print(wesp_year_list.shape,type(wesp_year_list))
year_list = list(set(gii_year_list.tolist()) & set(sdg_year_list.tolist()) & set(wdi_year_list.tolist()) & set(wesp_year_list.tolist()))
year_list = np.array(year_list)
print(year_list, " are available years")

161  countries are available
[2016 2017 2018 2019 2020 2021 2013 2014 2015]  are available years

In [12]:
#filter dataframes based on year and country
wdi_resume = wdi_resume[(wdi_resume['Year'].isin(year_list)) & (wdi_resume['Country'].isin(country_list))]
print('wdi_resume:',wdi_resume.shape)
wesp_class = wesp_class[(wesp_class['Year'].isin(year_list)) & (wesp_class['Country'].isin(country_list))]
print('wesp_class:',wesp_class.shape)
sdg_resume = sdg_resume[(sdg_resume['Year'].isin(year_list)) & (sdg_resume['Country'].isin(country_list))]
print('sdg_resume:',sdg_resume.shape)
gii_resume = gii_resume[(gii_resume['Year'].isin(year_list)) & (gii_resume['Country'].isin(country_list))]
print('gii_resume:',gii_resume.shape)

wdi_resume: (1449, 10)
wesp_class: (2076, 3)
sdg_resume: (1449, 23)
gii_resume: (1265, 10)

In [13]:
yc_list = list(set(gii_resume.index.values.tolist()) & set(wdi_resume.index.values.tolist()) & set(sdg_resume.index.values.tolist()) & set(wesp_class.index.values.tolist()))
#print(yc_list.shape)
#print(wesp_class.reset_index())
wesp_class['Values'] = 1
wesp_resume = wesp_class.reset_index().pivot(index=['Year_Country', 'Year', 'Country'], columns='Category', values = 'Values')
wesp_resume = wesp_resume.reset_index().rename_axis(None, axis=1)

wesp_resume.set_index('Year_Country', inplace=True)
wesp_resume

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Year,Country,Developed,Developing,Economies In Transition,Fuel Exporting,Least Developed
Year_Country,,,,,,,
2013_AFG,2013,AFG,NaN,NaN,NaN,NaN,1.0
2013_AGO,2013,AGO,NaN,1.0,NaN,1.0,1.0
2013_ALB,2013,ALB,NaN,NaN,1.0,NaN,NaN
2013_ARE,2013,ARE,NaN,1.0,NaN,1.0,NaN
2013_ARG,2013,ARG,NaN,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2021_VNM,2021,VNM,NaN,1.0,NaN,NaN,NaN
2021_YEM,2021,YEM,NaN,1.0,NaN,1.0,1.0
2021_ZAF,2021,ZAF,NaN,1.0,NaN,NaN,NaN
2021_ZMB,2021,ZMB,NaN,1.0,NaN,NaN,1.0
2021_ZWE,2021,ZWE,NaN,1.0,NaN,NaN,NaN

In [14]:
wdi_resume_2 = wdi_resume.drop(columns=['Year', 'Country'])
gii_resume_2 = gii_resume.drop(columns=['Year', 'Country'])
sdg_resume_2 = sdg_resume.drop(columns=['Year', 'Country'])
wesp_resume_2 = wesp_resume.drop(columns=['Year', 'Country'])

df_final = pd.concat([wdi_resume_2, sdg_resume_2, wesp_resume_2,gii_resume_2], axis=1, join='inner')
df_final.reset_index(inplace=True)
df_final['Year'] = df_final['Year_Country'].apply(lambda x: x[0:4]).astype(int)
df_final['Country'] = df_final['Year_Country'].apply(lambda x: x[-3:])
df_final.rename(columns={'SP.POP.TOTL': 'Population_WDI', 
                         'TX.VAL.TECH.CD': 'Hi_Tech_Export', 
                         'BX.GSR.CCIS.CD':'ICT_Service_Export',
                         'SL.EMP.TOTL.SP.ZS':'Emp_Ratio_To_Population', 
                         'NE.EXP.GNFS.CD':'Goods_Services_Export',
                         'SL.TLF.TOTL.IN':'Total_Labour_Force', 
                         'BX.GSR.NFSV.CD':'Service_Export', 
                         'BX.GSR.MRCH.CD':'Good_Export'}, inplace=True)
df_final.to_excel('df_final.xlsx')

In [15]:
#df_final['Hi_Tech_Export'] = df_final['Hi_Tech_Export'].round(2)
#df_final['ICT_Service_Export'] = df_final['ICT_Service_Export'].round(2)
#df_final['Goods_Services_Export'] = df_final['Goods_Services_Export'].round(2)
#df_final_2 = df_final[(df_final['Hi_Tech_Export'] > 0) & (df_final['ICT_Service_Export'] > 0) & (df_final['Goods_Services_Export'] > 0) ]
#df_final_2.loc[:,'Total_Tech_Export'] = df_final_2['Hi_Tech_Export'] + df_final_2['ICT_Service_Export']
#print(df_final)
df_final_2 = df_final.copy()

df_final_2.loc[:,'Total_Tech_Export_%'] = (df_final_2['Hi_Tech_Export'] + df_final_2['ICT_Service_Export']) / df_final_2['Goods_Services_Export']
df_final_2.loc[:,'ICT_Service_Export_%'] = df_final_2['ICT_Service_Export']/df_final_2['Service_Export']
df_final_2.loc[:,'Hi_Tech_Good_Export_%'] = df_final_2['Hi_Tech_Export']/df_final_2['Good_Export']
df_final_2.loc[:,'Total_Tech_Export_per_People'] = (df_final_2['Hi_Tech_Export'] + df_final_2['ICT_Service_Export'])/df_final_2['Population_WDI']
df_final_2.loc[:,'ICT_Service_Export_per_People'] = df_final_2['ICT_Service_Export']/df_final_2['Population_WDI']
df_final_2.loc[:,'Hi_Tech_Good_Export_per_People'] = df_final_2['Hi_Tech_Export']/df_final_2['Population_WDI']
df_final_2.loc[:,'Total_Tech_Export_per_Empl'] = (df_final_2['Hi_Tech_Export'] + df_final_2['ICT_Service_Export'])/(df_final_2['Population_WDI']*df_final_2['Emp_Ratio_To_Population']/100)
df_final_2.loc[:,'ICT_Service_Export_per_Empl'] = df_final_2['ICT_Service_Export']/(df_final_2['Population_WDI']*df_final_2['Emp_Ratio_To_Population']/100)
df_final_2.loc[:,'Hi_Tech_Good_Export_per_Empl'] = df_final_2['Hi_Tech_Export']/(df_final_2['Population_WDI']*df_final_2['Emp_Ratio_To_Population']/100)
print(df_final_2['Emp_Ratio_To_Population'])
l_Deps = ['Total_Tech_Export_%','ICT_Service_Export_%','Hi_Tech_Good_Export_%',
         'Total_Tech_Export_per_People','ICT_Service_Export_per_People','Hi_Tech_Good_Export_per_People',
         'Total_Tech_Export_per_Empl', 'ICT_Service_Export_per_Empl', 'Hi_Tech_Good_Export_per_Empl']
df_final_2.to_excel('df_final_2.xlsx')

lines_to_drop_from_corr = ['Population_WDI', 'Hi_Tech_Export', 'Total_Labour_Force', 'Emp_Ratio_To_Population',
                          'ICT_Service_Export', 'Service_Export', 'Good_Export','Population', 'Developed', 'Developing',
                           'Economies In Transition', 'Fuel Exporting', 'Least Developed', 'Goods_Services_Export',
                          'Total_Tech_Export_%', 'Hi_Tech_Good_Export_per_People', 'ICT_Service_Export_%',
                          'ICT_Service_Export_per_People', 'Total_Tech_Export_%', 'Total_Tech_Export_per_People',
                           'Total_Tech_Export_per_Empl', 'ICT_Service_Export_per_Empl', 'Hi_Tech_Good_Export_per_Empl',
                           'Hi_Tech_Good_Export_%', 'Year']

0       41.852001
1       41.921001
2       41.969002
3       71.636002
4       71.625999
          ...
1227    80.501999
1228    80.461998
1229    80.391998
1230    78.977997
1231    79.403999
Name: Emp_Ratio_To_Population, Length: 1232, dtype: float64

In [16]:
gii_corr_cols = gii_cols.copy()
gii_corr_cols.remove('Year')
gii_corr_cols.remove('Country')
#print(gii_corr_cols)
sdg_corr_cols = [i for i in sdg_resume.columns.tolist() if i.startswith('SDG')]
#print(sdg_corr_cols)
def o_corr(df, deps):
    a = []
    for d in deps:
        sdg_corr = df[~df[d].isin([np.inf, np.nan, -np.inf, 0])][[d]+sdg_corr_cols].corr()[[d]]
        gii_corr = df[~df[d].isin([np.inf, np.nan, -np.inf, 0])][[d]+gii_corr_cols].corr(method='spearman')[[d]]
        
        df_corr = pd.concat([sdg_corr,gii_corr], axis = 0)
        #print(df_corr)
        #print(df[~df[d].isin([np.inf, np.nan, -np.inf, 0])].corr()[[d]])
        a.append(df_corr.drop(index=[d]))
        #a.append(df[~df[d].isin([np.inf, np.nan, -np.inf, 0])].corr()[[d]])
    #print(a)  
    #return pd.concat(a, axis = 1).drop(index=lines_to_drop_from_corr).sort_index(axis=1).round(2)
    return pd.concat(a, axis = 1).drop(index=lines_to_drop_from_corr, errors='ignore').round(2)
#print('df_final_2:',df_final_2.shape)
#o_corr(df_final_2,l_Deps)

def corr_test(dfi, samplesize):
    dfi_test = pd.DataFrame()
    for i in range(0,1000):
        df_sample = o_corr(dfi.sample(samplesize),l_Deps)
        #print(b)
        #print('aaaaa',df_sample)
        if dfi_test.empty:
            dfi_test = df_sample
        else:
            dfi_test = dfi_test.astype(str) + ',' + df_sample.astype(str)
        #print('bbbbbb',dfi_test)
    dfi_test = dfi_test.applymap(lambda x: np.fromstring(x, dtype=float, sep=','))
    return dfi_test

In [17]:
test_list = []

print('df_final_2:',df_final_2.shape)
df_final_2_corr_test = corr_test(df_final_2, 50)
test_list.append(('df_final_2_corr_test',df_final_2_corr_test))
#print(df_final_2_corr_test)

df_final_wo_fuel_transition = df_final_2[(df_final_2['Fuel Exporting'] != 1) & (df_final_2['Economies In Transition'] != 1)]
print('df_final_wo_fuel_transition:',df_final_wo_fuel_transition.shape)
#o_corr(df_final_wo_fuel_transition,l_Deps)
df_final_wo_fuel_transition_corr_test = corr_test(df_final_wo_fuel_transition, 50)
test_list.append(('df_final_wo_fuel_transition_corr_test',df_final_wo_fuel_transition_corr_test))

df_final_wo_fuel_developed = df_final_wo_fuel_transition[df_final_wo_fuel_transition['Developed'] == 1]
print('df_final_wo_fuel_developed:',df_final_wo_fuel_developed.shape)
#o_corr(df_final_wo_fuel_developed,l_Deps)
df_final_wo_fuel_developed_corr_test = corr_test(df_final_wo_fuel_developed, 50)
test_list.append(('df_final_wo_fuel_developed_corr_test',df_final_wo_fuel_developed_corr_test))

df_final_wo_fuel_developing = df_final_wo_fuel_transition[df_final_wo_fuel_transition['Developing'] == 1]
print('df_final_wo_fuel_developing:',df_final_wo_fuel_developing.shape)
#o_corr(df_final_wo_fuel_developing,l_Deps)
df_final_wo_fuel_developing_corr_test = corr_test(df_final_wo_fuel_developing, 50)
test_list.append(('df_final_wo_fuel_developing_corr_test',df_final_wo_fuel_developing_corr_test))

df_final_wo_fuel_least_developed = df_final_wo_fuel_transition[df_final_wo_fuel_transition['Least Developed'] == 1]
print('df_final_wo_fuel_least_developed:',df_final_wo_fuel_least_developed.shape)
#df_corr = o_corr(df_final_wo_fuel_least_developed,l_Deps)
df_final_wo_fuel_least_developed_corr_test = corr_test(df_final_wo_fuel_least_developed, 50)
test_list.append(('df_final_wo_fuel_least_developed_corr_test',df_final_wo_fuel_least_developed_corr_test))

df_final_fuel_exporting = df_final_2[df_final_2['Fuel Exporting'] == 1]
#o_corr(df_final_fuel_exporting,l_Deps)
print('df_final_fuel_exporting:',df_final_fuel_exporting.shape)
df_final_fuel_exporting_corr_test = corr_test(df_final_fuel_exporting, 50)
test_list.append(('df_final_fuel_exporting_corr_test',df_final_fuel_exporting_corr_test))

df_final_transition = df_final_2[df_final_2['Economies In Transition'] == 1]
print('df_final_transition:',df_final_transition.shape)
df_final_transition_corr_test = corr_test(df_final_transition, 50)
test_list.append(('df_final_transition_corr_test',df_final_transition_corr_test))

df_final_2: (1232, 54)
df_final_wo_fuel_transition: (849, 54)
df_final_wo_fuel_developed: (317, 54)
df_final_wo_fuel_developing: (521, 54)
df_final_wo_fuel_least_developed: (197, 54)
df_final_fuel_exporting: (273, 54)
df_final_transition: (144, 54)

In [18]:
df_data_lst=[('df_final_2',df_final_2),
             ('df_final_fuel_exporting',df_final_fuel_exporting),
             ('df_final_transition',df_final_transition),
             ('df_final_wo_fuel_least_developed',df_final_wo_fuel_least_developed),
             ('df_final_wo_fuel_developing',df_final_wo_fuel_developing),
             ('df_final_wo_fuel_developed',df_final_wo_fuel_developed),
             ('df_final_wo_fuel_transition',df_final_wo_fuel_transition)]

df_dep_test = pd.DataFrame(index=l_Deps)

for dep in l_Deps:
    dfi_test=pd.DataFrame()
    for df_name, df in df_data_lst:
        print(df_name, dep, df.shape)
        df_dep_test.loc[dep, df_name] = 1
        sample_size = int(round(len(df)/3,0) if len(df) < 50 else 50)
        #df_dep_test.loc['dep',df_name ] = df[~df[dep].isin([np.inf, np.nan, -np.inf, 0])][dep].sample(sample_size).tolist()
        v_list = ''
        for i, v in df[~df[dep].isin([np.inf, np.nan, -np.inf, 0])][dep].sample(sample_size).round(2).iteritems():
            if v_list == '':
                v_list = str(v)
            else:
                v_list = str(v_list) + ',' + str(v)
            
        df_dep_test.loc[dep, df_name] = v_list
        #print('bbbbbb',dfi_test)
#df_dep_test
    #dfi_test = dfi_test.applymap(lambda x: np.fromstring(x, dtype=float, sep=','))
    #print(dfi_test)
df_dep_test = df_dep_test.applymap(lambda x: np.fromstring(x, dtype=float, sep=','))

df_dep_test

df_final_2 Total_Tech_Export_% (1232, 54)
df_final_fuel_exporting Total_Tech_Export_% (273, 54)
df_final_transition Total_Tech_Export_% (144, 54)
df_final_wo_fuel_least_developed Total_Tech_Export_% (197, 54)
df_final_wo_fuel_developing Total_Tech_Export_% (521, 54)
df_final_wo_fuel_developed Total_Tech_Export_% (317, 54)
df_final_wo_fuel_transition Total_Tech_Export_% (849, 54)
df_final_2 ICT_Service_Export_% (1232, 54)
df_final_fuel_exporting ICT_Service_Export_% (273, 54)
df_final_transition ICT_Service_Export_% (144, 54)
df_final_wo_fuel_least_developed ICT_Service_Export_% (197, 54)
df_final_wo_fuel_developing ICT_Service_Export_% (521, 54)
df_final_wo_fuel_developed ICT_Service_Export_% (317, 54)
df_final_wo_fuel_transition ICT_Service_Export_% (849, 54)
df_final_2 Hi_Tech_Good_Export_% (1232, 54)
df_final_fuel_exporting Hi_Tech_Good_Export_% (273, 54)
df_final_transition Hi_Tech_Good_Export_% (144, 54)
df_final_wo_fuel_least_developed Hi_Tech_Good_Export_% (197, 54)
df_final_wo_fuel_developing Hi_Tech_Good_Export_% (521, 54)
df_final_wo_fuel_developed Hi_Tech_Good_Export_% (317, 54)
df_final_wo_fuel_transition Hi_Tech_Good_Export_% (849, 54)
df_final_2 Total_Tech_Export_per_People (1232, 54)
df_final_fuel_exporting Total_Tech_Export_per_People (273, 54)
df_final_transition Total_Tech_Export_per_People (144, 54)
df_final_wo_fuel_least_developed Total_Tech_Export_per_People (197, 54)
df_final_wo_fuel_developing Total_Tech_Export_per_People (521, 54)
df_final_wo_fuel_developed Total_Tech_Export_per_People (317, 54)
df_final_wo_fuel_transition Total_Tech_Export_per_People (849, 54)
df_final_2 ICT_Service_Export_per_People (1232, 54)
df_final_fuel_exporting ICT_Service_Export_per_People (273, 54)
df_final_transition ICT_Service_Export_per_People (144, 54)
df_final_wo_fuel_least_developed ICT_Service_Export_per_People (197, 54)
df_final_wo_fuel_developing ICT_Service_Export_per_People (521, 54)
df_final_wo_fuel_developed ICT_Service_Export_per_People (317, 54)
df_final_wo_fuel_transition ICT_Service_Export_per_People (849, 54)
df_final_2 Hi_Tech_Good_Export_per_People (1232, 54)
df_final_fuel_exporting Hi_Tech_Good_Export_per_People (273, 54)
df_final_transition Hi_Tech_Good_Export_per_People (144, 54)
df_final_wo_fuel_least_developed Hi_Tech_Good_Export_per_People (197, 54)
df_final_wo_fuel_developing Hi_Tech_Good_Export_per_People (521, 54)
df_final_wo_fuel_developed Hi_Tech_Good_Export_per_People (317, 54)
df_final_wo_fuel_transition Hi_Tech_Good_Export_per_People (849, 54)
df_final_2 Total_Tech_Export_per_Empl (1232, 54)
df_final_fuel_exporting Total_Tech_Export_per_Empl (273, 54)
df_final_transition Total_Tech_Export_per_Empl (144, 54)
df_final_wo_fuel_least_developed Total_Tech_Export_per_Empl (197, 54)
df_final_wo_fuel_developing Total_Tech_Export_per_Empl (521, 54)
df_final_wo_fuel_developed Total_Tech_Export_per_Empl (317, 54)
df_final_wo_fuel_transition Total_Tech_Export_per_Empl (849, 54)
df_final_2 ICT_Service_Export_per_Empl (1232, 54)
df_final_fuel_exporting ICT_Service_Export_per_Empl (273, 54)
df_final_transition ICT_Service_Export_per_Empl (144, 54)
df_final_wo_fuel_least_developed ICT_Service_Export_per_Empl (197, 54)
df_final_wo_fuel_developing ICT_Service_Export_per_Empl (521, 54)
df_final_wo_fuel_developed ICT_Service_Export_per_Empl (317, 54)
df_final_wo_fuel_transition ICT_Service_Export_per_Empl (849, 54)
df_final_2 Hi_Tech_Good_Export_per_Empl (1232, 54)
df_final_fuel_exporting Hi_Tech_Good_Export_per_Empl (273, 54)
df_final_transition Hi_Tech_Good_Export_per_Empl (144, 54)
df_final_wo_fuel_least_developed Hi_Tech_Good_Export_per_Empl (197, 54)
df_final_wo_fuel_developing Hi_Tech_Good_Export_per_Empl (521, 54)
df_final_wo_fuel_developed Hi_Tech_Good_Export_per_Empl (317, 54)
df_final_wo_fuel_transition Hi_Tech_Good_Export_per_Empl (849, 54)

,df_final_2,df_final_fuel_exporting,df_final_transition,df_final_wo_fuel_least_developed,df_final_wo_fuel_developing,df_final_wo_fuel_developed,df_final_wo_fuel_transition
Total_Tech_Export_%,"[0.29, 0.14, 0.0, 0.08, 0.07, 0.04, 0.02, 0.08...","[0.04, 0.02, 0.11, 0.04, 0.06, 0.0, 0.11, 0.05...","[0.01, 0.0, 0.01, 0.01, 0.06, 0.05, 0.05, 0.0,...","[0.02, 0.01, 0.01, 0.02, 0.01, 0.13, 0.0, 0.02...","[0.03, 0.03, 0.02, 0.02, 0.14, 0.01, 0.21, 0.0...","[0.0, 0.11, 0.09, 0.1, 0.14, 0.07, 0.07, 0.07,...","[0.09, 0.11, 0.01, 0.22, 0.14, 0.16, 0.06, 0.0..."
ICT_Service_Export_%,"[0.08, 0.02, 0.03, 0.1, 0.17, 0.05, 0.02, 0.07...","[0.13, 0.02, 0.05, 0.03, 0.06, 0.08, 0.01, 0.0...","[0.02, 0.07, 0.1, 0.03, 0.02, 0.01, 0.14, 0.02...","[0.05, 0.04, 0.02, 0.04, 0.32, 0.11, 0.11, 0.2...","[0.09, 0.01, 0.01, 0.02, 0.49, 0.14, 0.05, 0.0...","[0.05, 0.07, 0.05, 0.12, 0.04, 0.01, 0.09, 0.0...","[0.39, 0.05, 0.1, 0.11, 0.17, 0.01, 0.01, 0.24..."
Hi_Tech_Good_Export_%,"[0.09, 0.03, 0.27, 0.02, 0.17, 0.02, 0.4, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.28, 0.09...","[0.01, 0.0, 0.0, 0.01, 0.04, 0.04, 0.0, 0.01, ...","[0.01, 0.0, 0.0, 0.0, 0.01, 0.0, 0.0, 0.0, 0.0...","[0.0, 0.0, 0.19, 0.0, 0.0, 0.0, 0.0, 0.0, 0.01...","[0.08, 0.11, 0.07, 0.07, 0.1, 0.05, 0.17, 0.05...","[0.01, 0.17, 0.17, 0.0, 0.06, 0.01, 0.19, 0.0,..."
Total_Tech_Export_per_People,"[74.98, 301.68, 1272.47, 13.93, 25.51, 63.9, 1...","[103.89, 957.91, 674.54, 11.44, 81.29, 7.96, 8...","[9.82, 28.38, 34.74, 16.89, 272.69, 126.52, 49...","[3.53, 1.56, 2.8, 1.78, 0.87, 5.58, 3.65, 1.54...","[1.81, 57.13, 63.04, 109.6, 28445.41, 52.83, 0...","[3298.05, 1103.11, 395.52, 1238.27, 1956.39, 2...","[650.34, 269.56, 2.0, 63.9, 23434.74, 1.54, 27..."
ICT_Service_Export_per_People,"[96.89, 233.75, 9.25, 5.05, 10.21, 243.57, 5.4...","[3.6, 2.11, 21.19, 0.29, 9.05, 4.35, 3.78, 6.2...","[6.7, 44.92, 38.09, 6.6, 39.17, 106.19, 8.48, ...","[1.32, 2.56, 4.08, 2.72, 5.05, 4.67, 1.01, 9.8...","[43.7, 150.87, 1.32, 4.61, 7.05, 7.52, 2.08, 4...","[307.24, 106.16, 257.22, 70.62, 7477.52, 255.1...","[30.39, 2.29, 358.6, 1.22, 42.01, 133.58, 96.8..."
Hi_Tech_Good_Export_per_People,"[5.2, 0.15, 6.74, 250.49, 128.69, 3.04, 2.26, ...","[0.08, 5.97, 3.92, 98.98, 5.11, 7.92, 0.36, 2....","[5.73, 1.34, 74.49, 57.57, 73.57, 0.43, 1.2, 2...","[0.26, 1.45, 0.11, 4.87, 0.06, 0.15, 0.14, 15....","[0.17, 1457.13, 3.26, 0.14, 0.39, 36.42, 44.35...","[1815.8, 128.69, 3528.61, 786.94, 1394.46, 188...","[823.72, 42.49, 0.38, 54.96, 43.92, 1600.56, 7..."
Total_Tech_Export_per_Empl,"[5.55, 277.64, 9.51, 1.05, 231.54, 1198.12, 38...","[0.64, 4.77, 4.63, 9.09, 73.82, 3.16, 157.38, ...","[177.92, 178.49, 148.15, 521.15, 16.77, 2.03, ...","[1.81, 2.05, 2.33, 5.45, 3.8, 3.67, 5.39, 2.29...","[1.72, 17.7, 47.02, 1.39, 26.87, 4.79, 268.42,...","[2367.99, 1720.12, 5287.38, 1898.11, 10904.89,...","[11.06, 4797.25, 1203.84, 52.47, 243.69, 4421...."
ICT_Service_Export_per_Empl,"[441.9, 6351.34, 605.26, 1.82, 2.97, 555.18, 2...","[763.01, 10.2, 72.64, 808.74, 70.52, 242.14, 4...","[111.05, 12.62, 12.33, 215.52, 18.89, 52.72, 5...","[0.96, 3.96, 8.45, 5.85, 4.61, 5.54, 7.86, 10....","[10.61, 188.85, 0.11, 3.09, 13.02, 10.68, 15.4...","[12744.53, 2829.23, 1250.9, 217.12, 709.74, 53...","[1747.72, 2.31, 313.8, 457.88, 394.16, 67.81, ..."
Hi_Tech_Good_Export_per_Empl,"[238.28, 13460.11, 4.85, 0.07, 14.98, 3566.78,...","[3.35, 411.73, 1.37, 174.98, 1394.76, 13.25, 1...","[5.75, 257.83, 42.98, 86.07, 0.44, 134.35, 241...","[0.67, 0.82, 1.48, 23.06, 13.77, 0.13, 0.37, 2...","[2.45, 0.01, 73.87, 935.21, 0.13, 79.42, 0.84,...","[2332.6, 3730.66, 3537.6, 3117.19, 2815.44, 90...","[0.11, 3.89, 8873.08, 8393.67, 376.96, 0.12, 6..."

In [19]:
#normality test not used
from scipy.stats import shapiro
for dft_name, dft in test_list:
    
    test_list_normality = dft.applymap(lambda x: True if shapiro(x)[1] > 0.05 else False)
    #print(test_list_normality.any())

In [20]:
from scipy.stats import kruskal
from scipy.stats import shapiro 
from scipy.stats import kstest
import statistics
!pip install scikit-posthocs
import scikit_posthocs as sp
a =  df_dep_test.T
print("test medians of groups using kruskal non parametric:", df_dep_test.columns.tolist() )
df_dunn_final = pd.DataFrame()
df_dep_median = pd.DataFrame()
for c in df_dep_test.T.columns:
    l=[]
    for i, v in df_dep_test.T[c].iteritems():
        l.append(v)
        #print(v, len(v))
        p_kstest = kstest(v, 'norm')[1]
        p_shapiro = shapiro(v)[1]
        #if (p_kstest < 0.05)  | (p_shapiro < 0.05):
            #print(c, i, 'non normal',statistics.median(v), p_kstest, p_shapiro)
        df_dep_median.loc[c, i] =  statistics.median(v)
    
    r = kruskal(*l)[1].round(2)
    #print('------------------')
    #print(c, r)
    df_posthoc_dunn = sp.posthoc_dunn(l, p_adjust = 'bonferroni').round(2)
    df_posthoc_dunn.columns = df_dep_test.columns.tolist()
    df_posthoc_dunn.index = df_dep_test.columns.tolist()
    #print(df_posthoc_dunn.melt())
    df_posthoc_dunn = df_posthoc_dunn.reset_index().rename(columns={'index':'class'})
    df_posthoc_dunn = pd.melt(df_posthoc_dunn, id_vars=['class'],var_name='class2', value_vars=df_posthoc_dunn.columns.tolist().remove('class'),value_name='dunn_p_value')
    df_posthoc_dunn['dep'] = c
    df_posthoc_dunn['kruskal_res'] = r
    
    
    df_dunn_final = pd.concat([df_dunn_final,df_posthoc_dunn ], axis = 0)
df_dunn_final.to_excel('df_dunn_final.xlsx')
df_dunn_final
df_dep_median.to_excel('df_dep_median.xlsx')

Collecting scikit-posthocs
  Downloading scikit_posthocs-0.7.0-py3-none-any.whl (38 kB)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.7/site-packages (from scikit-posthocs) (3.5.3)
Requirement already satisfied: seaborn in /opt/conda/lib/python3.7/site-packages (from scikit-posthocs) (0.11.2)
Requirement already satisfied: numpy in /opt/conda/lib/python3.7/site-packages (from scikit-posthocs) (1.21.6)
Requirement already satisfied: pandas>=0.20.0 in /opt/conda/lib/python3.7/site-packages (from scikit-posthocs) (1.3.5)
Requirement already satisfied: statsmodels in /opt/conda/lib/python3.7/site-packages (from scikit-posthocs) (0.13.2)
Requirement already satisfied: scipy in /opt/conda/lib/python3.7/site-packages (from scikit-posthocs) (1.7.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.20.0->scikit-posthocs) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.20.0->scikit-posthocs) (2022.1)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->scikit-posthocs) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->scikit-posthocs) (1.4.3)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.7/site-packages (from matplotlib->scikit-posthocs) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.7/site-packages (from matplotlib->scikit-posthocs) (9.1.1)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.7/site-packages (from matplotlib->scikit-posthocs) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.7/site-packages (from matplotlib->scikit-posthocs) (4.33.3)
Requirement already satisfied: patsy>=0.5.2 in /opt/conda/lib/python3.7/site-packages (from statsmodels->scikit-posthocs) (0.5.2)
Requirement already satisfied: typing-extensions in /opt/conda/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib->scikit-posthocs) (4.4.0)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from patsy>=0.5.2->statsmodels->scikit-posthocs) (1.15.0)
Installing collected packages: scikit-posthocs
Successfully installed scikit-posthocs-0.7.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
test medians of groups using kruskal non parametric: ['df_final_2', 'df_final_fuel_exporting', 'df_final_transition', 'df_final_wo_fuel_least_developed', 'df_final_wo_fuel_developing', 'df_final_wo_fuel_developed', 'df_final_wo_fuel_transition']

In [21]:
if 1 == 0:
    #test of independent variables among different country levels etc.
    l_inDeps = df_final_transition_corr_test.index.values.tolist()

    #print(test_list)
    from scipy.stats import kruskal
    res_data = pd.DataFrame(columns=['dependent', 'independent', 'kruskal_p_value'])
    for ld in l_Deps:
        a = []
        for lid in l_inDeps:
            #print(ld, lid)
            for dft_name, dft in test_list:
                a.append(dft.loc[lid,ld])
            k_res = kruskal(*a)
            if k_res[1]<=0.05:
                #pd.Series=[[ld, lid, k_res[1]]]
                i_data = np.array([ld, lid, k_res[1].round(2)]).reshape(1,3)
                i_res = pd.DataFrame(data = i_data, columns = ['dependent', 'independent', 'kruskal_p_value'])
                if res_data.empty:
                    res_data = i_res 
                    #print('--a--', res_data)
                else:
                    #print('--b--', res_data)
                    res_data = pd.concat([res_data, i_res])
            else:
                print(ld, lid, k_res[1].round(2))
    #print(res_data.shape)
    print(res_data)
    #print(res_data[res_data['kruskal_p_value'].astype(float)< 0.05].shape)
    #res_data

In [22]:
if 1 == 0 :
    #!pip install scikit-posthocs
    import scikit_posthocs as sp



    #res_data = pd.DataFrame(columns=['dependent', 'independent', 'p_value'])
    dunn_res_dep_indep = pd.DataFrame()
    for ld in l_Deps:
        for lid in l_inDeps:
            a = []
            c = []
            for dft_name, dft in test_list:
                a.append(dft.loc[lid,ld])
                c.append(dft_name)
            #print(ld, lid, len(a))
            df_posthoc_dunn = sp.posthoc_dunn(a, p_adjust = 'bonferroni')
            df_posthoc_dunn.columns = c
            df_posthoc_dunn.index = c
            df_posthoc_dunn = df_posthoc_dunn.reset_index().rename(columns={'index':'class'})
            #print(df_posthoc_dunn)
            df_posthoc_dunn = pd.melt(df_posthoc_dunn, id_vars=['class'],var_name='class2', value_vars=df_posthoc_dunn.columns.tolist().remove('class'),value_name='dunn_p_value')
            df_posthoc_dunn['independent'] = lid
            df_posthoc_dunn['dependent'] = ld
            dunn_res_dep_indep = pd.concat([dunn_res_dep_indep, df_posthoc_dunn], axis=0)
    dunn_res_dep_indep.to_excel('dunn_res_dep_indep.xlsx')
    #dunn_res_dep_indep
    #print(dunn_res_dep_indep.shape)
    #print(dunn_res_dep_indep[dunn_res_dep_indep['dunn_p_value']<0.05])

In [23]:
#test of independent variables among different country levels etc.
df_indep_median = pd.DataFrame()
for dft_name, dft in test_list:
    dft_median = dft.applymap(lambda x: np.median(x))
    dft_median = dft_median.unstack().reset_index()
    dft_median['class'] = dft_name
    df_indep_median = pd.concat([df_indep_median, dft_median], axis = 0)
#df_indep_median = df_indep_median.reset_index().rename(columns={"index": "indep"})
df_indep_median.columns = ['dep', 'indep', 'median_corr_value', 'class']
df_indep_median = df_indep_median.pivot(index=['dep','indep'], columns=['class'])
df_indep_median.to_excel('df_indep_median.xlsx')

l_inDeps = df_final_transition_corr_test.index.values.tolist()

#print(test_list)
from scipy.stats import kruskal
import statistics
df_dunn_final_indep = pd.DataFrame()
for ld in l_Deps:
    for lid in l_inDeps:
        a = []
        c = []
        #df_indep_median.loc[ld,'indep'] = lid
        for dft_name, dft in test_list:
            a.append(dft.loc[lid,ld])
            c.append(dft_name)
            p_kstest = kstest(dft.loc[lid,ld], 'norm')[1]
            p_shapiro = shapiro(dft.loc[lid,ld])[1]
            #print(dft_name, lid,ld,  statistics.median(dft.loc[lid,ld]))
            #df_indep_median[(df_indep_median['dep'] == ld) & (df_indep_median['indep'] == lid)][dft_name] = statistics.median(dft.loc[lid,ld])
            #if (p_kstest < 0.05)  | (p_shapiro < 0.05):
                #print(dft_name, lid,ld, len(dft.loc[lid,ld]), statistics.median(dft.loc[lid,ld]), 'non normal',p_kstest, p_shapiro)
            #df_indep_median = pd.concat([df_indep_median, pd.DataFrame(columns=['']data=[])], axis =0)
            #df_indep_median.iloc[len(df_indep_median.index)] = ['Amy', 89, 93] 
        k_res = kruskal(*a)[1].round(5)
        
        df_posthoc_dunn = sp.posthoc_dunn(a, p_adjust = 'bonferroni').round(5)
        
        df_posthoc_dunn.columns = c
        df_posthoc_dunn.index = c
        #print(df_posthoc_dunn.melt())
        df_posthoc_dunn = df_posthoc_dunn.reset_index().rename(columns={'index':'class'})
        # Fill the upper triangle with NaN values
        upper_triangle = np.triu_indices_from(df_posthoc_dunn, k=1)
        df_posthoc_dunn.values[upper_triangle] = np.nan
        
        df_posthoc_dunn = pd.melt(df_posthoc_dunn, id_vars=['class'],var_name='class2', value_vars=df_posthoc_dunn.columns.tolist().remove('class'),value_name='dunn_p_value')
        df_posthoc_dunn = df_posthoc_dunn[df_posthoc_dunn['dunn_p_value']!= np.nan]
        
        df_posthoc_dunn['kruskal_res'] = r
        df_posthoc_dunn['independent'] = lid
        df_posthoc_dunn['dependent'] = ld
        
        df_posthoc_mann = sp.posthoc_mannwhitney(a).round(5)
        df_posthoc_mann = df_posthoc_mann.reset_index().rename(columns={'index':'class'})
        
        # Fill the upper triangle with NaN values
        upper_triangle = np.triu_indices_from(df_posthoc_mann, k=1)
        df_posthoc_mann.values[upper_triangle] = np.nan
        
        
        df_posthoc_mann = pd.melt(df_posthoc_mann, id_vars=['class'],var_name='class2', value_vars=df_posthoc_mann.columns.tolist().remove('class'),value_name='mann_p_value')
        df_posthoc_mann = df_posthoc_mann[df_posthoc_mann['mann_p_value']!= np.nan]
        
        df_posthoc_dunn['mann_p_value'] = df_posthoc_mann['mann_p_value']
        #print(ld, lid, k_res,df_posthoc_dunn.shape)
        df_dunn_final_indep = pd.concat([df_dunn_final_indep,df_posthoc_dunn ], axis = 0)
df_dunn_final_indep.to_excel('df_dunn_final_indep.xlsx')
print(df_dunn_final_indep[df_dunn_final_indep['kruskal_res'] <= 0.05].shape)
print(df_dunn_final_indep[df_dunn_final_indep['dunn_p_value'] <= 0.05].shape)

(11466, 7)
(8940, 7)

In [24]:
if 1 == 0:
    !pip install wbgapi
    import wbgapi as wb

    def print_hi(name):
        # Use a breakpoint in the code line below to debug your script.
        print(f'Hi, {name}')  # Press ⌘F8 to toggle the breakpoint.


    def create_ind_library():
        indicators = pd.DataFrame()
        for index, value in wb.source.Series().items():
            wb.db = index
            length = len(wb.series.Series())
            list_of_db_i = [index] * length
            list_of_db_v = [value] * length
            pd_ind = pd.DataFrame()
            pd_ind['db_id'] = list_of_db_i
            pd_ind['db_name'] = list_of_db_v
            pd_ind.index = wb.series.Series().index
            pd_ind['description'] = wb.series.Series().to_list()
            indicators = pd.concat([indicators, pd_ind])
            print(index, value, length, indicators.shape)
        print(indicators)
        indicators.to_excel("wb_ind_list.xlsx")


    def get_ind_library():
        return pd.read_excel("/kaggle/input/phdthesisdata/wb_ind_list.xlsx")


    # Press the green button in the gutter to run the script.
if 1 == 0:
    create_ind_library()

    ind_lb = get_ind_library()

if 1 == 0:
    def download_file(db_id):
        if db_id not in flist:
            wb.db = db_id.astype(int)
            try:
                print(datetime.now(), ' : ', str(db_id))
                ind_l = ind_lb[ind_lb['db_id'] == db_id]['Unnamed: 0'].to_list()
                a = pd.DataFrame()
                for ind in ind_l:
                    #print(datetime.now(), ' - ', str(db_id), ' : ', ind)
                    b = wb.data.DataFrame([ind], time=range(2010, 2022), skipBlanks=True,
                                columns='series')

                    #print(str(db_id), ' : ','b shape ', b.shape)
                    a = pd.concat([a,b], axis=1)
                    #print(str(db_id), ' : ','a shape: ', a.shape)
                print(datetime.now(), ' ', str(db_id), ' data retrieved')
                a.to_excel(str(wb.db)+'.xlsx')
                print(datetime.now(), ' success db_id: ', str(db_id))
                return str(wb.db)+' Success'
            except:
                print(datetime.now(), ' error db_id: ', str(db_id))
                return str(wb.db)+' Fail'

In [25]:
from multiprocessing import Pool
##print(ind_lb['db_id'].unique())

if 1 == 0:
    with Pool() as pool:
        # call the function for each item in parallel
        for result in pool.map(download_file, ind_lb['db_id'].unique()):
            print(result)

In [26]:
if 1 == 0:
    pd_sdg = pd.read_excel('SDR-2022-database.xlsx', sheet_name='Backdated SDG Index')
    pd_sdg['economy'] = pd_sdg['Country Code ISO3']
    pd_sdg = pd_sdg.set_index(['economy','Year'])
    print(pd_sdg.index)
    #print(get_ind_library())
    wb.db = 2


    pd_wdi = wb.data.DataFrame(['TX.VAL.TECH.CD','BX.GSR.CCIS.CD'], time=range(2000, 2022), skipBlanks=True,
                      columns='series').reset_index()

    pd_wdi['Year'] = pd_wdi['time'].str[2:].astype(int)
    pd_wdi = pd_wdi.set_index(['economy','Year']).drop(columns=['time'])
    print(pd_wdi.index)

    print(pd.concat([pd_sdg, pd_wdi],axis=1).to_excel("test.xlsx"))
    #print(pd_wdi.join(pd_sdg))

    quit()
    print(wb.data.DataFrame(['TX.VAL.TECH.CD','BX.GSR.CCIS.CD'], time=range(2000, 2020), skipBlanks=True, columns='series').reset_index())